LOG_LEVEL=info/debug

# NODE_ENV requires exact spelling as bellow of the 2 choices, this will affect settings
NODE_ENV=production/dev
LOG_PRETTY=true/false


MYSQL_ROOT_PASSWORD=rootpass
MYSQL_DATABASE=plant_db
MYSQL_USER=testuser
MYSQL_PASSWORD=testuserpassword
DB_VOLUME_PATH=/home/host/dessired_location